<h1>Current Incidents</h1>
<%= link_to 'Report new incident', new_incident_path, class: 'btn btn-success' %>
<% @incidents.each do | incident | %>
  <ul>
    <li><%= link_to incident.description.upcase, incident_path(incident) %>
    <li><%= link_to incident.address.upcase, incident_path(incident)%> - <%= link_to incident.created_at, incident_path(incident) %></li>
  </ul>
<% end %>
