<div class="jumbotron welcome">
  <div classs='hero well well-lg'>
    <h3>Welcome to . . .</h3>
    <h1><strong>SITREP</strong></h1>
    <h4>report. update. comment.</h4>
  </div>
  <%= render 'incidents/main_map' %>
</div>