<div class="jumbotron">
  <div classs='hero well well-lg'>
    <div class='container'>
      <h3>Welcome to . . .</h3>
      <h1><strong>SITREP</strong></h1>
      <h4>report. update. comment.</h4>
    </div>
  </div>
</div>
